---
import { readSingleton } from "@directus/sdk";
import { directus, getAssetUrl } from "@/utils/directus";

let directusColor = "#b45309";
let faviconUrl = null;
let siteTitle = "EMOBase";

try {
  const color = await directus.request(readSingleton("color"));
  if (color.value) {
    directusColor = color.value;
  }
} catch (err) {
  console.error("[LayoutConfig] Error fetching theme color:", err);
}

try {
  const siteInfo = await directus.request(readSingleton("site_info"));
  if (siteInfo.favicon) {
    faviconUrl = getAssetUrl(siteInfo.favicon as string);
  }
  if (siteInfo.title) {
    siteTitle = siteInfo.title;
  }
} catch (err) {
  console.error("[LayoutConfig] Error fetching site info:", err);
}

const runtimeEnv = Object.fromEntries(
  Object.entries(process.env).filter(([key]) => key.startsWith("PUBLIC_")),
);
---

<!-- Theme Setup -->{
  faviconUrl ? (
    <link rel="icon" type="image/svg+xml" href={faviconUrl} />
  ) : (
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  )
}
<title>{siteTitle}</title>
<style
  is:global
  is:inline
  set:html={`
  html:root {
    --primary: color-mix(in oklab, ${directusColor} 80%, orange 20%);
    --primary-bold: ${directusColor};
    --primary-light: color-mix(in oklab, ${directusColor} 60%, orange 30%);
  }
`}
></style>

<!-- Runtime Env Setup -->
<script is:inline define:vars={{ runtimeEnv }}>
  window.__ENV__ = runtimeEnv;
</script>
